<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <title>Mercado Liebre Divian Lopez</title>
</head>
<body>
    <header>
        <div class="header1">
            <div class="logo-busqueda">
                <div class="logo">
                    <a href="https://mercadoliebre-divianlopez-server.onrender.com/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
                </div>
                
                <form>
                    <div class="busqueda">    
                        <input type="text" placeholder="Buscar productos, marcas" class="search-bar">         
                        <i class="fa-solid fa-magnifying-glass glass"></i>
                    </div>
                </form>
            </div>

            <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav>
            <ul class="navegacion lista1">
                <li><a href="https://mercadoliebre-divianlopez-server.onrender.com/#">Ofertas</a></li>
                <li><a href="https://mercadoliebre-divianlopez-server.onrender.com/#">Tiendas Oficiales</a></li>
                <li><a href="https://mercadoliebre-divianlopez-server.onrender.com/#">Vender</a></li>
                <li><a href="https://mercadoliebre-divianlopez-server.onrender.com/#">Ayuda</a></li>
            </ul>

            <ul class="navegacion lista2">
                <li>
                    <a href="https://mercadoliebre-divianlopez-server.onrender.com/register">Creá tu cuenta</a>
                    <i class="fa-regular fa-id-card"></i></li>
                <li>
                    <a href="https://mercadoliebre-divianlopez-server.onrender.com/login">Ingresá</a>
                    <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li>
                    <a href="https://mercadoliebre-divianlopez-server.onrender.com/#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="burger-menu-contenedor">    
            <i class="fas fa-bars burger-menu" aria-hidden="true"></i>
        </div> 
    </header>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="" width="100%"> 
    </div>

    <main>
        <h2>Basado en tu última visita</h2>                  
        <section>
            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%" class="imagen-producto">
                <div class="descripcion">    
                    <div class="caminon">
                        <i class="fa-solid fa-truck"></i> 
                    </div> 
                    <div class="precios">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%" class="imagen-producto">
                <div class="descripcion"> 
                    <div class="caminon">
                        <i class="fa-solid fa-truck"></i> 
                    </div>  
                    <div class="precios">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <p class="nombre-producto">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%" class="imagen-producto">
                <div class="descripcion"> 
                    <div class="caminon">
                        <i class="fa-solid fa-truck"></i> 
                    </div> 
                    <div class="precios">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <p class="nombre-producto">Samsung Galaxy S10</p>
                </div>
            </article>

            <article class="producto">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" width="100%" class="imagen-producto">
                <div class="descripcion"> 
                    <div class="caminon">
                        <i class="fa-solid fa-truck"></i> 
                    </div>   
                    <div class="precios">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <p class="nombre-producto">SmartTv Samsung 43"</p> 
                </div>
            </article>
        </section>

        <h2>Ofertas</h2>
        
        <section>
            <article class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" width="100%" class="imagen-producto">
                <div class="descripcion">    
                    <div class="caminon">
                        <i class="fa-solid fa-truck"></i> 
                    </div> 
                    <div class="precios">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="producto">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" width="100%" class="imagen-producto">
                <div class="descripcion"> 
                    <div class="caminon">
                        <i class="fa-solid fa-truck"></i> 
                    </div>  
                    <div class="precios">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <p class="nombre-producto">MacBook Pro 2019</p>
                </div>
            </article>

            <article class="producto">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="100%" class="imagen-producto">
                <div class="descripcion"> 
                    <div class="caminon">
                        <i class="fa-solid fa-truck"></i> 
                    </div> 
                    <div class="precios">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <p class="nombre-producto">Samsung Galaxy S10</p>
                </div>
            </article>
        </section>
    </main>
    
    <footer>
        <div class="footer1">
            <article class="footer-info">
                <i class="fa-sharp fa-solid fa-credit-card icono-footer"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            
            <article class="footer-info">
                <i class="fa-solid fa-gift icono-footer"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            
            <article class="footer-info">
                <i class="fa-solid fa-user-shield icono-footer"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
        </div>
        <div class="footer2">
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>