<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <div class="header1">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="">
                </div>
                <div class="busqueda">
                    <div class="barra">
                        <input type="text" class="search-bar" placeholder="Buscar productos">
                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </div>
            </div>
            <div class="compra">
                <i class="fa-solid fa-hand-holding-dollar"></i><label>Comprá en cuotas y sin tarjeta de crédito</label>
            </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul> <br>
                <ul>
                    <div class="nb2">
                        <li>Creá tu cuenta</li><i class="fa-regular fa-id-card"></i>
                    </div>
                    <div class="nb2">
                        <li>Ingresá</li><i class="fa-solid fa-right-to-bracket"></i>
                    </div>
                    <div class="nb2">
                        <li>Mis compras</li><i class="fa-solid fa-basket-shopping"></i>
                    </div>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
        </header>
        <main>
            <div class="banner">
                <img src="/images/img-home-banner.jpg" alt="">
            </div> 
            <section class="ultima-vista">
                <p class="titulares"><b>Basado en tu última visita</b></p>
                <article>
                    <div class="producto">
                        <div class="imagen1">
                            <div class="color">
                                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                            </div>
                        </div>
                        <div class="producto-info">
                            <label class="precio">$6.770</label>
                            <label class="descuento">40% OFF</label>
                            <label class="nombre-producto">Cafetera Moulinex</label>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="producto">
                        <div class="imagen2">
                            <div class="color">
                                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                            </div>
                        </div>
                        <div class="producto-info">
                            <label class="precio">$230.000</label>
                            <label class="descuento">20% off</label>
                            <label class="nombre-producto">MacBook Pro 2019</label>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="producto">
                        <div class="imagen3">
                            <div class="color">
                                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                            </div>
                        </div>
                        <div class="producto-info">
                            <label class="precio">$70.500</label>
                            <label class="descuento">10% off</label>
                            <label class="nombre-producto">Samsung Galaxy S10</label>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="producto">
                        <div class="imagen4">
                            <div class="color">
                                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                            </div>
                        </div>
                        <div class="producto-info">
                            <label class="precio">$23.200</label>
                            <label class="descuento">5% off</label>
                            <label class="nombre-producto">SmartTv Samsung 43"</label>
                        </div>
                    </div>
                </article>
            </section>
            <section class="ofertas">
                <p class="titulares"><b>Ofertas</b></p>
                <article>
                    <div class="producto">
                        <div class="imagen1">
                            <div class="color">
                                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                            </div>
                        </div>
                        <div class="producto-info">
                            <label class="precio">$6.770</label>
                            <label class="descuento">40% OFF</label>
                            <label class="nombre-producto">Cafetera Moulinex</label>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="producto">
                        <div class="imagen2">
                            <div class="color">
                                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                            </div>
                        </div>
                        <div class="producto-info">
                            <label class="precio">$230.000</label>
                            <label class="descuento">20% off</label>
                            <label class="nombre-producto">MacBook Pro 2019</label>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="producto">
                        <div class="imagen3">
                            <div class="color">
                                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                            </div>
                        </div>
                        <div class="producto-info">
                            <label class="precio">$70.500</label>
                            <label class="descuento">10% off</label>
                            <label class="nombre-producto">Samsung Galaxy S10</label>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <div class="pago">
                <p><b class="dark-gray">Pagá con tarjeta o en efectivo</b></p>
                <p class="light-gray">
                    Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en
                    puntos de <br> pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div class="envio">
                <p><b class="dark-gray">Envío gratis desde $ 2.500</b></p>
                <p class="light-gray">
                    Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de
                    productos. Es <br> un beneficio de Mercado Puntos.
                </p> 
            </div>
            <div class="seguridad">
                <p><b class="dark-gray">Seguridad, de principio a fin</b></p>
                <p class="light-gray">
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br> no hay nada que no puedas hacer,
                    porque estás <br> siempre protegid@.
                </p>
            </div>
            <div class="copyright">
                <b><small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small></b>
            </div>
        </footer>
    </div>
</body>
</html>